html{
    height: 100%;
}

.block1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: tomato;
    width: 600px;
    border: solid 5px black;
    background: wheat;
    padding: 10px 10px 10px 10px;
    margin: 20px 0 30px 40px;
    float: left;
}
.block2{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: aqua;
    width: 600px;
    float: right;
}
